* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: #fff;
}

body {
    background-color: #1d1a05;
    text-align : justify;

}

ul {
    background-color: #ca3c25;
    padding-left: 250px;
}

li {
    display: inline-block;
    padding: 15px;
}
li a {
  text-decoration: none;
}
img {
    width: 150px;
    height: 150px;
    margin: 5px;
    border: solid 5px #808080;
    position: absolute;
    top: 0;
    left: 0;
}

.close {
    position: absolute;
    top: 15px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    left: 15px;
    width: 30px;
}

.close:hover{
  cursor: pointer;
}
.galeryImg{
margin: 50px 100px;;
  width: auto;
}
figure {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 150px;
    height: 150px;

}

#contenido div{
  display: inline-block;
  width: 350px;
  margin: 20px 35px;
}
