* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: #fff;
}

body {
    background-color: #1d1a05;
    text-align: justify;
}

ul {

    background-color: #ca3c25;
padding-left: 170px;
}

li {
    display: inline-block;
    padding: 15px;
}

#menuSeleccion a {
    text-decoration: none;
    padding: 0 100px;
}


/*asi estaba */

img {
    width: 200px;
    height: 200px;
    margin: 5px;
    border: solid 5px #808080;
    position: absolute;
    top: 0;
    left: 0;
}

li:hover {
    border: solid #fff 1px;
}

.close {
    position: absolute;
    top: 15px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    left: 15px;
    width: 30px;
}

.close:hover {
    cursor: pointer;
}

.galeryImg {
    margin: 20px 190px 45px;
    width: auto;
}

figure {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 200px;
    height: 200px;
}

section#contenido {
  padding-left: 170px;
    margin-top: 80px;
}

section#menuSeleccion {
    width: 1205px;
    padding-left: 183px;
    position: fixed;
}

#menuSeleccion li {
    margin: 0 1px;
    background-color: #ca3c25;
    width: 332px;
    height: 0px;
    padding-bottom: 20px;
    padding-top: 3px;
    text-align: center;
}

#menuSeleccion ul {
    background-color: #1d1a05;
    padding: 0px;
}

#contenido div {
    display: inline-block;
    width: 450px;
    margin: 20px 35px;
}

.ocultar {
    display: none;
}
